global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # "backend" here refers to the SERVICE NAME in docker-compose
  - job_name: 'backend_api'
    static_configs:
      - targets: ['backend:5000']